*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
}

a{
    text-decoration: none;
}

header {
    height: 65px;
    width: 100%;
    background-color:cyan;
    position: fixed;
    top: 0;
    z-index: 10;
}

.header-left p{
    width: 124px;
}

.header-right{
    float: right;
    transition: all 0.5s;
    margin: 0 auto;
    padding-top: 0;
}

.header-right ul{   
    font-size: 20px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

#main{
    height: 2000px;
}

.container{
    margin: 0 auto;
}

.video-wrapper{
    padding: 100px 0 100px 0;
    margin-right: 100px;
    margin-left: 100px;
    background-color: cornflowerblue;
}

.profile{
    background-color:royalblue;
}

.profile-left ul{
    float: left;
    padding: 50px 30px 50px 30px;
    margin-bottom: 10px;
}

.profile-left h1{
    font-size: 30px; 
}

.profile-left h2{
    font-size: 30px;
}

.profile-left h3{
    color:cyan;
    font-size: 40px;
}

.profile-right img{
    float: right;
    padding: 50px 30px 50px 30px;
}
