*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
}

a{
    text-decoration: none;
}

.clear{
    clear: left;
}

.header{
    background-color: aquamarine;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.header-logo{
    font-size: 30px;
}

.header-list a{
    font-size: 20px;
    text-align: center;
    padding-left: 30px;
    display: inline-block;
}

#main{
    height: 2000px;
}

.video-wrapper{
    background-size: cover;
    background-color: cyan;
    margin: 0;
    width: 100%;
    display: inline-block;
}

.video{
    margin-left: 100px;
}

.profile{
    background-color:royalblue;
}

.profile-left ul{
    float: left;
    padding: 50px 30px 50px 30px;
    margin-bottom: 10px;
}

.profile-left h1{
    font-size: 30px; 
}

.profile-left h2{
    font-size: 30px;
}

.profile-left h3{
    color:cyan;
    font-size: 40px;
}

.profile-right img{
    float: right;
    padding: 50px 30px 50px 30px;
}
